/Palindrome/C#/Palindrome/obj
/Palindrome/C#/Palindrome/bin
/Palindrome/C#/Palindrome-Forloop/obj
/Palindrome/C#/Palindrome-Forloop/bin
/Palindrome/C#/Palindrome-Number/bin
/Palindrome/C#/Palindrome-Number/obj
